<nav class="nav">
  {% if user.is_authenticated %}
    <a href="{% url "kitchen:cook-detail" pk=user.id %}" class="nav__link">{{ user.username }}</a>
    <a href="{% url "logout" %}" class="nav__link">Logout</a>
  {% else %}
    <a href="{% url "login" %}" class="nav__link">Login</a>
  {% endif %}
  <a href="{% url "kitchen:index" %}" class="nav__link">Home</a>
  <a href="{% url "kitchen:cook-list"%}" class="nav__link">Cooks</a>
  <a href="{% url "kitchen:dish-type-list"%}" class="nav__link">DishTypes</a>
  <a href="{% url "kitchen:dish-list"%}" class="nav__link">Dishes</a>
</nav>
