{% extends "base.html" %}

{% block content %}
  <div class="not-intro">
    <h1>Cook Detail</h1>
    <h3>Username: {{ cook.username }}</h3>
    {% if cook.last_name or cook.first_name %}
      <hr>
      <h5>Name: {% if cook.last_name %}{{ cook.last_name }}{% endif %}
        {% if cook.first_name %}{{ cook.first_name }}{% endif %}</h5>
    {% endif %}
    <hr>
    <h5>Years of experience: {{ cook.years_of_experience }}</h5>
    <hr>
    <h5>Dishes: </h5>
    {% if cook.dishes.all %}
      {% for dish in cook.dishes.all %}
        <p><a href="{% url "kitchen:dish-detail" pk=dish.id %}">{{ dish.name }}</a></p>
      {% endfor %}
    {% else %}
      <p>No dishes(</p>
    {% endif %}
    {% if user.id == cook.id %}
      <a class="btn btn-danger" href="{% url "kitchen:cook-delete" pk=cook.id %}">Delete</a>
    {% endif %}
  </div>
{% endblock %}
