{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>{{ object|yesno:"Update,Create" }} Dish type</h1>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}

    <input class="btn btn-primary" type="submit" value="Submit">
    <a class="btn btn-primary" {% if object %} href="{% url "kitchen:dish-types-detail" pk=dishtype.id %}" {% else %}href="{% url "kitchen:dish-types-list" %}" {% endif %}>Cancel</a>
  </form>
{% endblock %}
