{% extends "base.html" %}

{% block content %}
  <div class="intro">
    <h1>Kitchen Service</h1>
  </div>
  <div class="achievements">
    <div class="work">
      {{ num_cooks }}
      <a class="work-heading" href="cook_list.html">Cooks</a>
      <p class="work-text">We have a great team of cooks</p>
    </div>
    <div class="work">
      {{ num_dishes }}
      <a class="work-heading" href="dish_list.html">Dishes</a>
      <p class="work-text">We have a great dishes</p>
    </div>
    <div class="work">
      {{ num_dishtypes }}
      <a class="work-heading" href="dish_type_list.html">Dish Types</a>
      <p class="work-text">We have a great dish types</p>
    </div>
  </div>
{% endblock %}
